<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="::APP_PACKAGE::" android:versionCode="::APP_VERSION_CODE::" android:versionName="::APP_VERSION_NAME::" android:installLocation="::androidInstallLocation::">

	<uses-sdk android:minSdkVersion="::androidMinSdkVersion::" android:targetSdkVersion="::androidTargetSdkVersion::" />
	
	::if (androidPermissions != null)::::foreach (androidPermissions)::<uses-permission android:name="__value__" />
	::end::::end::

	<application 
		android:label="::APP_TITLE::" 
		android:debuggable="false" 
		android:icon="@drawable/icon" 
		android:allowBackup="true"
		android:isGame="true"
		android:appCategory="game"
		android:hardwareAccelerated="true">

		<activity android:name="MainActivity" android:launchMode="singleTask" android:label="::APP_TITLE::" android:configChanges="orientation|keyboardHidden|screenSize" android:screenOrientation="::androidScreenOrientation::" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
				<category android:name="android.intent.category.GAME" />
			</intent-filter>
		</activity>

	</application>

</manifest>
